<!DOCTYPE html>

<html lang="en-UA">

    <head>

        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <meta name="description" content="DatTank - is a free multiplayer browser online tank game.">
        <meta name="keywords" content="dattank, dattankcom, io, tank, towers, game, games, web game, html5, fun, flash">
        <meta property="fb:app_id" content="178574662917890" />
        <meta property="og:title" content="DatTank.com">
        <meta property="og:description" content="DatTank - is a free multiplayer browser online tank game.">
        <meta property="og:url" content="http://dattank.com/">
        <meta property="og:image" content="http://dattank.com/resources/img/share-img.png">
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:type" content="website" >
        <meta property="site_name" content="DatTank">

        <title>DatTank</title>

        <link rel="stylesheet" id="google-fonts-css" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic,500,500italic" type="text/css" media="all">
        <link rel="shortcut icon" href="/resources/img/fav.png">

        <link rel="stylesheet" type="text/css" href="/css/all.css?1" />
        <!-- build:js /libs.js -->
        <script src="/libs/jquery.js"></script>
        <script src="/libs/HackTimer.js"></script>
        <script src="/libs/Detector.js"></script>
        <script src="/libs/Utils.js"></script>
        <!-- endbuild -->

        <script>
            var fbAppId = '1845382232185797'; // test app
            // var fbAppId = '178574662917890';

            window.fbAsyncInit = function () {
                FB.init({
                    appId      : fbAppId, // test app
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v3.0'
                });

                FB.AppEvents.logPageView();
            };

            var userData = {
                pid:    '{{ pid }}',
                sid:    '{{ sid }}',
                fid:    '{{ fid }}',
                coins:  +'{{ coins }}',
                xp:     +'{{ xp }}',
                level:  +'{{ level }}',
                levelBonuses: +'{{ levelBonuses }}',
                garage: {{ params|safe }}
            };
        </script>

        <script src="/scripts/bundle.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-78466773-1', 'auto');
            ga('send', 'pageview');
        </script>

        <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
        <script>
            var googletag = googletag || {};
            googletag.cmd = googletag.cmd || [];
        </script>

        <script>
            googletag.cmd.push(function() {
                googletag.defineSlot('/421469808/NWGS_dattank.com_300x250', [300, 250], 'div-gpt-ad-1484229654832-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
            googletag.cmd.push(function() {
                googletag.defineSlot('/421469808/NWGS_dattank.com_300x250', [300, 250], 'div-gpt-ad-1484229654832-1').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        </script>

        <script src="https://connect.facebook.net/en_US/sdk.js"></script>

    </head>

    <body>

        <div class="mobile-not-supported not-disabled-screen">
            <div class="title not-disabled-screen">Mobile not supported yet</div>
        </div>

        <div class="landing">

            <div class="sound" sound="false" class="btn"></div>
            <div class="fullscreen" screen="false" class="btn"></div>

            <div class="change-log-block"></div>

            <div id="signin-box-wrapper">
                <div id="main-block">
                    <div id="menu">
                        <a class="item active" tab="home">HOME</a>
                        <a class="item" tab="leaders">LEADERS</a>
                        <a class="item" tab="screens">SCREENS</a>
                    </div>
                    <div class="tab-content home active">
                        <div class="title"></div>
                    </div>
                    <div class="tab-content leaders">
                        <div class="top-players-score">
                            <table>
                                <tr>
                                    <th class="players-score header login"># Top players</th>
                                    <th class="players-score header level">Level</th>
                                    <th class="players-score header score">Score</th>
                                    <th class="players-score header kills">Kills</th>
                                    <th class="players-score header death">Death</th>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                                <tr>
                                    <td class="players-score login"></td>
                                    <td class="players-score level"></td>
                                    <td class="players-score score"></td>
                                    <td class="players-score kills"></td>
                                    <td class="players-score death"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tab-content screens">
                        <div class="left-arrow"></div>
                        <img class="active" src="/resources/img/screens/1.jpg" iid="1"/>
                        <img src="/resources/img/screens/2.jpg" iid="2"/>
                        <img src="/resources/img/screens/3.jpg" iid="3"/>
                        <div class="right-arrow"></div>
                    </div>
                </div>
                <div id="signin-box">
                    <div id="title">DatTank</div>
                    <input id="username" class="field" type="text" placeholder="Username" maxlength="13" />
                    {% if fid %}
                        <div class="user"><img class="userpic"/></div>
                    {% endif %}
                    <div id="start-btn" class="btn">START</div>
                    {% if not fid %}
                        <a id="signup-btn" class="btn" href="/auth/facebook"><div class="fb-icon"></div>Login to save progress</a>
                    {% endif %}
                    <div id='div-gpt-ad-1484229654832-0' style='height:250px; width:300px; margin-left: auto; margin-right: auto; margin-bottom: 10px;'>
                        <script>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1484229654832-0'); });
                        </script>
                    </div>
                </div>
            </div>

        </div>

        <div class="help-popup">
            <div class="header">
                <div class="title">How To Play DatTank</div>
                <div class="close">&#10006;</div>
            </div>
            <div class="controls-block">
                <div class="block-title">Controls:</div>
                <p>
                    <b>Move:</b> AWSD
                </p>
                <p>
                    <b>Shoot:</b> Mouse keys hold or space
                </p>
                <p>
                    <b>Rotate top and aim:</b> Mouse move
                </p>
                <p>
                    <b>Chat:</b><br>
                    To open chat press 'Enter' key<br>
                    And type a message "some bla-bla" for your team<br>
                    Or "/bla-bla" for all players
                </p>
            </div>
            <div class="controls-block">
                <div class="block-title">What to do:</div>
                <p>
                    <b>Destroy:</b> kill other teams players
                </p>
                <p>
                    <b>Increase score:</b> get levelUp's and improve your tank!
                </p>
                <p>
                    <b>Take over Towers:</b> they will join your team and help you
                </p>
            </div>
            <div class="ok-btn">GOT IT!</div>
            <div class="icon"></div>
        </div>

        <div class="garage">
            <div class="garage-wrapper">
                <div class="header">
                    <div class="garage-title">Your garage</div>
                    <div class="play-btn">BATTLE!</div>
                    <div class="play-btn-hint">Not all tank parts bought</div>
                    <div class="stats-block">
                        <div class="coins"><div class="label"></div><div class="value"></div></div>
                    </div>
                    <div class="divider"></div>
                    <div class="sound" sound="false"></div>
                    <div class="fullscreen" screen="false"></div>
                </div>
                <div class="loading">Loading...</div>
                <canvas id="garage-viewport"></canvas>
                <div class="level-block">
                    <div class="progress">
                        <div class="progress-value"></div>
                    </div>
                    <div class="title">Level</div>
                    <div class="bonuses">
                        <div class="label"></div>
                        <div class="value"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="right-block">
                    <div class="item-title"></div>
                    <div class="item-level"></div>
                    <div class="upgrade-block">
                        <div class="upgrade-btn">UPGRADE</div>
                        <div class="max-level">MAX LEVEL</div>
                        <div class="price">
                            <div class="coins-label"></div>
                            <div class="coins-value"></div>
                            <div class="level-bonus-label"></div>
                            <div class="level-bonus-value"></div>
                        </div>
                    </div>
                    <div class="buy-block">
                        <div class="buy-btn">BUY</div>
                        <div class="price">
                            <div class="coins-label"></div>
                            <div class="coins-value"></div>
                            <div class="level-bonus-label"></div>
                            <div class="level-bonus-value"></div>
                        </div>
                    </div>
                    <div class="tank-stats">
                        <div class="stats-title">Cannon damage</div>
                        <div class="cannon stats-delta-value"></div>
                        <div class="cannon stats-value"></div>
                        <div class="cannon stats-progress">
                            <div class="green"></div>
                            <div class="delta"></div>
                        </div>
                        <div class="stats-title">Armor</div>
                        <div class="armor stats-delta-value"></div>
                        <div class="armor stats-value"></div>
                        <div class="armor stats-progress">
                            <div class="green"></div>
                            <div class="delta"></div>
                        </div>
                        <div class="stats-title">Speed</div>
                        <div class="speed stats-delta-value"></div>
                        <div class="speed stats-value"></div>
                        <div class="speed stats-progress">
                            <div class="green"></div>
                            <div class="delta"></div>
                        </div>
                        <div class="stats-title">Reload time</div>
                        <div class="reload stats-delta-value"></div>
                        <div class="reload stats-value"></div>
                        <div class="reload stats-progress">
                            <div class="green"></div>
                            <div class="delta"></div>
                        </div>
                        <div class="stats-title">Shoot range</div>
                        <div class="range stats-delta-value"></div>
                        <div class="range stats-value"></div>
                        <div class="range stats-progress">
                            <div class="green"></div>
                            <div class="delta"></div>
                        </div>
                        <div class="stats-title">Overheat</div>
                        <div class="overheat stats-delta-value"></div>
                        <div class="overheat stats-value"></div>
                        <div class="overheat stats-progress">
                            <div class="green"></div>
                            <div class="delta"></div>
                        </div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="item active" tab="hull">Hulls<div class="decoration"></div></div>
                    <div class="item" tab="cannon">Cannon<div class="decoration"></div></div>
                    <div class="item" tab="engine">Engine<div class="decoration"></div></div>
                    <div class="item" tab="armor">Armor<div class="decoration"></div></div>
                </div>
                <div class="bottom-block">
                    <div class="wrapper">
                        <div tab="hull" class="tab hull active"><div class="list"></div></div>
                        <div tab="cannon" class="tab cannon"><div class="list"></div></div>
                        <div tab="engine" class="tab engine"><div class="list"></div></div>
                        <div tab="armor" class="tab armor"><div class="list"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="continue-box-wrapper">
            <div id="continue-box">
                <div id="continue-box-wrapper-title">Killed</div>
                <div id="continue-change-btn">
                    <div id="continue-btn"><span id="continue-btn-text">RESPAWN!</span></div>
                    <div id="garage-btn"><div class="garage-img"></div><span id="garage-btn-text">GARAGE</span></div>
                </div>
                <div id='div-gpt-ad-1484229654832-1' style='height:250px; width:300px; margin-top: 10px; margin-left: auto; margin-right: auto; margin-bottom: 10px;'>
                    <script>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1484229654832-1'); });
                    </script>
                </div>
            </div>
        </div>

        <div id="loader-wrapper">
            <div id="loader">
                <div class="img"></div>
                <div id="loader-wrapper-title">Loading <span>0%</span></div>
                <div id="progress-wrapper">
                    <div id="progress-bar"></div>
                </div>
            </div>
        </div>

        <div id="viewport">

            <div class="navigation-panel">
                <div class="fullscreen" screen="false"></div>
                <div class="help"></div>
                <div class="graphics-quality" hq="false"></div>
                <div class="sound" sound="false"></div>
            </div>

            <div class="stats-block">
                <div class="coins"><div class="label"></div><div class="value"></div></div>
            </div>

            <div id="player-params">
                <div class="health">
                    <div class="health-image"></div>
                    <div class="health-progress">
                        <div class="text"><div class="value">20</div> | 100</div>
                        <div class="progress"></div>
                    </div>
                    <div class="temperature">
                        <div class="temperature-progress"></div>
                        <div class="title">cannon overheating</div>
                    </div>
                </div>
                <div class="ammo">
                    <div class="ammo-image"></div>
                    <div class="ammo-number">100</div>
                </div>
            </div>

            <div id="kill-events"></div>
            <div id="starting-team-label"></div>

            <div id="team-params">
                <div id="team1-score" class="team-stat">
                    <div class="team-image"></div>
                    <div class="team-number"></div>
                </div>
                <div id="team2-score" class="team-stat">
                    <div class="team-image"></div>
                    <div class="team-number"></div>
                </div>
                <div id="team3-score" class="team-stat">
                    <div class="team-image"></div>
                    <div class="team-number"></div>
                </div>
                <div id="team4-score" class="team-stat">
                    <div class="team-image"></div>
                    <div class="team-number"></div>
                </div>
            </div>

            <div class="fps-ping">
                <div><span class="label">fps:</span> <span class="fps-value">0</span></div>
                <div><span class="label">ping:</span> <span class="ping-value">0</span></div>
            </div>

            <div id="top-killers">
                <div id="leaderboard-wrapper" class="leaderboard-wrapper">
                    <div class="killer-outer"><div class="player-counter">#1</div><div class="players-team-image"></div><div class="player-name"></div><div class="kills"></div></div>
                    <div class="killer-outer"><div class="player-counter">#2</div><div class="players-team-image"></div><div class="player-name"></div><div class="kills"></div></div>
                    <div class="killer-outer"><div class="player-counter">#3</div><div class="players-team-image"></div><div class="player-name"></div><div class="kills"></div></div>
                    <div class="killer-outer"><div class="player-counter">#4</div><div class="players-team-image"></div><div class="player-name"></div><div class="kills"></div></div>
                    <div class="killer-outer"><div class="player-counter">#5</div><div class="players-team-image"></div><div class="player-name"></div><div class="kills"></div></div>
                    <div class="killer-outer"><div class="player-counter">#6</div><div class="players-team-image"></div><div class="player-name"></div><div class="kills"></div></div>
                    <div id="divider"></div>
                    <div class="killer-outer last"><div class="player-counter"></div><div class="players-team-image"></div><div class="player-name"></div><div class="kills"></div></div>
                </div>
            </div>

            <div class="disconnect-warning">Network disconnection! Try to reload the page.</div>

            <div class="arena-level-indicator-block">
                <div class="title"></div>
                <div class="progress-bar">
                    <div class="progress-indicator"></div>
                </div>
            </div>

            <div class="tank-upgrade-block" opened="false">
                <div class="title">You have bonuses</div>
                <div class="bonus maxSpeed">
                    <div class="increase"></div>
                    <div class="bonus-title">Max speed</div>
                    <div class="progress">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                </div>
                <div class="bonus rpm">
                    <div class="increase"></div>
                    <div class="bonus-title">Reload</div>
                    <div class="progress">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                </div>
                <div class="bonus armor">
                    <div class="increase"></div>
                    <div class="bonus-title">Armor</div>
                    <div class="progress">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                </div>
                <div class="bonus cannon">
                    <div class="increase"></div>
                    <div class="bonus-title">Damage</div>
                    <div class="progress">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                </div>
                <div class="bonus power">
                    <div class="increase"></div>
                    <div class="bonus-title">Engine power</div>
                    <div class="progress">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                </div>
            </div>

            <div class="chat">
                <div class="message-block-separate"></div>
                <div class="message-block"></div>
                <input class="message-input" type="text" placeholder="Message to team [/text - to all]" maxlength="30"/>
                <div class="chat-info">To open/hide chat press 'enter'</div>
            </div>

            <div class="global-top-label"></div>

        </div>

        <div id="footer">
            <div id="dt-version"></div>
            <a href="https://bimbasoft.com" id="copyright" target="_blank">© 2019 BimbaSoft</a>
            <a href="/changelog">Changelog</a>
            <a href="/policy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>
            <a href="http://iogames.space">More Online Games</a>
        </div>

        <div id="fb-root"></div>

    </body>

</html>
