/* In-game Chat */

.chat {
    position: absolute;
    left: 15px;
    bottom: 20px;
}

.chat .message-input {
    display: none;
    width: 250px;
    font: normal 15px/27px 'Roboto';
    background: rgba(0,0,0,0.6);
    border: 0px;
    color: #fff;
    padding: 3px 15px;
    outline: none;
}

.chat .message-block {
    position: absolute;
    bottom: 45px;
    width: 250px;
}

.chat .message-block .message {
    padding-bottom: 3px;
    color: rgba( 255, 255, 255, 0.8 );
    text-shadow: 1px 1px 2px #000;
}
