/* garage */

.garage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    background: rgba(0,0,0,0.8);
}

.garage .garage-wrapper {
    position: relative;
    min-width: 318px;
    min-height: 311px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.garage .loading {
    position: absolute;
    top: 40%;
    left: calc( 50% - 35px );
    font: normal 18px arial;
    color: #fff;
    z-index: 10;
}

.garage canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: rgba(153, 153, 153, 1);
}

.garage .right-block {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100%;
    background-color: #c3c3c3;
}

.garage .bottom-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: calc( 100% - 400px );
    height: 150px;
    background-color: #c3c3c3;
}

.garage .bottom-block .items {
    position: relative;
    float: left;
    width: 150px;
    height: 130px;
    padding: 11px;
}

.garage .bottom-block .items img {
    position: relative;
    top: 50%;
    transform: translate( 0%, -50% );
    border: 1px solid #b6b6b6;
    padding: 30px 12px;
    transition: border-color 350ms ease, opacity 350ms ease;
    opacity: 0.6;
}

.garage .bottom-block .items img:hover {
    border-color: #ccc;
    opacity: 0.9;
}

.garage .bottom-block .tab {
    position: absolute;
    left: 10px;
    top: 0px;
    opacity: 0;
    transition: opacity 400ms ease, left 400ms ease;
}

.garage .bottom-block .tab.active {
    left: 0px;
    opacity: 1;
}

.garage .bottom-block .items.active .img {
    border-color: #1FB7FC;
    opacity: 1;
}

.garage .menu-items {
    position: absolute;
    left: 0px;
    bottom: 150px;
}

.garage .menu-items .item {
    position: relative;
    margin-right: 20px;
    float: left;
    padding: 5px 5px 5px 15px;
    background-color: #C3C3C3;
    color: #555;
    font: normal 15px Roboto, arial, tahoma;
    transition: background-color 400ms ease;
    border-radius: 3px 0px 0px 0px;
}

.garage .menu-items .item .decoration {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -10px;  
    bottom: 0;
    width: 13px;
    background: #C3C3C3;
    transform: skew(15deg);
    border-radius: 0 5px 0 0;  
    transition: background-color 400ms ease;
}

.garage .menu-items div:hover {
    background-color: #D8D8D8;
}

.garage .menu-items .item:hover .decoration {
    background-color: #D8D8D8;
}

.garage .menu-items .item.active {
    background-color: #32ABE3;
    color: #fff;
}

.garage .menu-items .item.active .decoration {
    background-color: #32ABE3;
}

.garage .tank-title {
    color: #fffdfd;
    padding: 20px 10px 0px;
    margin: 0;
}

.garage .close-btn {
    position: inherit;
    float: right;
    padding: 10px;
    margin-right: 13px;
    margin-top: 6px;
    z-index: 100;
    color: #fff;
    font-size: 30px;
}

.garage .tank-list {
    display: none !important;
    position: absolute;
    bottom: 15px;
    border: none;
    left: calc( 50% - 220px );
    width: 440px;
}

.garage .tank-list .arrows {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 82px;
    background: rgba( 200, 200, 200, 0 );
    transition: background 400ms ease;
}

.garage .tank-list .arrows:hover {
    background: rgba( 200, 200, 200, 0.1 );
}

.garage .tank-list .arrows img {
    position: absolute;
    width: 12px;
    height: 16px;
    top: 30px;
    left: calc( 50% - 6px );
}

.garage .tank-list .tank {
    position: relative;
    width: 84px;
    height: 60px;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 200ms ease;
}

.garage .tank-list .tank:hover {
    opacity: 0.9;
}

.garage .tank-list .tank .tank-img {
    width: 84px;
    height: 60px;
}

.garage .tank-list .title {
    width: 100%;
    text-align: center;
    color: #bbb;
    font-size: 12px;
    opacity: 0;
    transition: opacity 200ms ease;
}

.garage .tank-list .tank:hover .title {
    opacity: 1;
}

.garage .tank-list .tank.active {
    opacity: 1;
}

.garage .tank-list .tank.active .tank-img {
    border-bottom: 3px solid #00b6ff;
}

.garage .characteristics {
    display: none !important;
    position: absolute;
    width: 280px;
    top: 10%;
    left: 5%;
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;
}

.garage .characteristics .param {
    position: relative;
    display: inline-flex;
    width: 100%;
    color: #a49999;
    margin: 20px 0;
}

.garage .characteristics .param .title {
    position: absolute;
    left: 10px;
    margin: 0;
}

.garage .characteristics .param .value {
    position: absolute;
    right: 10px;
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.garage .characteristics .param .progress-wrapper {
    position: absolute;
    width: 130px;
    height: 8px;
    border-radius: 3px;
    border: 1px solid #695e5e;
    left: 70px;
    top: 5px;
}

.garage .characteristics .param .progress-wrapper .progress {
    background-color: #34b83c;
    height: 100%;
    border-radius: inherit;
}
