/* garage */

.garage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    background: rgba(0,0,0,0.8);
}

.garage .btn {
    display: inline-block;
    background-color: #00b6ff;
    padding: 10px 20px;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.6;
    transition: opacity 200ms ease;
}

.garage .btn:hover {
    opacity: 0.9;
}

.garage .btn:active {
    opacity: 1;
    transform: translate( 0px, 2px );
}

.garage .garage-wrapper {
    position: relative;
    min-width: 318px;
    min-height: 311px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.garage .loading {
    position: absolute;
    top: 40%;
    left: calc( 50% - 235px );
    font: normal 18px arial;
    color: #fff;
    z-index: 10;
}

@media only screen and (max-width: 880px) {
    .garage .loading {
        left: calc( 50% - 35px );
    }
}

.garage canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: rgba(153, 153, 153, 1);
}

.garage .garage-title {
    position: absolute;
    top: 15px;
    left: 15px;
    padding-right: 50px;
    font: normal 23px Roboto, arial, tahoma;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.5 );
    color: #fff;
    text-shadow: 0px 0px 2px rgba( 255, 255, 255, 0.5 );
    z-index: 1;
}

.garage .garage-title .level-label {
    font-size: 12px;
}

.garage .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba( 0, 0, 0, 0.5 );
    border-bottom: 2px solid rgba( 100, 100, 100, 0.8 );
    z-index: 1;
}

.garage .xp-coins {
    position: absolute;
    top: 21px;
    right: 20px;
    z-index: 1;
}

.garage .xp-coins .coins {
    float: left;
}

.garage .xp-coins .xp {
    float: left;
    margin-right: 15px;
    filter: drop-shadow(0px 0px 2px);
}

.garage .xp-coins .value {
    float: left;
    color: #fff;
    font: bold 16px Roboto, arial, tahoma;
    filter: drop-shadow(0px 0px 10px);
}

.garage .xp-coins .xp .label {
    float: left;
    width: 14px;
    height: 18px;
    margin-top: -1px;
    margin-right: 5px;
    padding-right: 5px;
    filter: brightness(1.1) drop-shadow(0px 0px 2px);
    background-image: url(/resources/img/xp.png);
    background-size: 100% 100%;
}

.garage .xp-coins .coins .label {
    float: left;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    margin-right: 5px;
    filter: brightness(1.1) drop-shadow(0px 0px 2px);
    background-image: url(/resources/img/coin.png);
    background-size: 100% 100%;
}

.garage .right-block {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 400px;
    height: 300px;
    z-index: 1;
}

.garage .right-block .item-title {
    margin-top: 20px;
    margin-left: 20px;
    font: bold 20px Roboto, arial, tahoma;
    color: #fff;
    text-shadow: 0px 0px 2px rgba( 255, 255, 255, 0.5 );
}

.garage .right-block .item-description {
    width: 325px;
    margin-left: 20px;
    margin-top: 10px;
    color: #444;
    font: normal 14px Roboto, arial, tahoma;
    letter-spacing: 0.4px;
}

.garage .right-block .sub-block-title {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4c5357;
}

.garage .right-block .tank-stats {
    width: 325px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.garage .right-block .tank-stats .stats-title {
    font: normal 14px Roboto, arial, tahoma;
    color: #fff;
}

.garage .right-block .tank-stats .stats-value {
    float: right;
    font: normal 12px Roboto, arial, tahoma;
    color: #fff;
    margin-top: -13px;
}

.garage .right-block .tank-stats .stats-progress {
    position: relative;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba( 255, 255, 255, 0.1 );
}

.garage .right-block .tank-stats .stats-progress .green {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    transition: width 400ms ease;
    filter: drop-shadow( 0px 0px 1px rgb( 255, 255, 255 ) );
}

.garage .right-block .tank-stats .stats-progress .delta {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    z-index: 2;
    transition: width 400ms ease, left 400ms ease;
}

.garage .bottom-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 130px;
    background-color: rgba( 20, 20, 20, 0.8 );
    border-top: 1px solid #555;
    z-index: 0;
}

.garage .bottom-block .list {
    position: relative;
    height: 100%;
}

.garage .bottom-block .item {
    position: relative;
    float: left;
    width: 150px;
    height: 80%;
    margin: 11px;
    opacity: 0.6;
    border: 1px solid #b6b6b6;
    background-color: #444;
    transition: opacity 350ms ease, border-color 150ms ease;
}

.garage .bottom-block .item .obj-title {
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    color: #fcfcfc;
    font-weight: 700;
    padding-left: 5px
}

.garage .bottom-block .item:not(.notOwn) .price {
    display: none;
}

.garage .bottom-block .item .price {
    position: absolute;
    top: 2px;
    right: 5px;
    text-align: right;
    color: rgb(247, 234, 56);
}

.garage .bottom-block .item .price .value {
    color: #fff;
    font-size: 12px;
}

.garage .bottom-block .item .price .ico {
    float: left;
    width: 13px;
    height: 13px;
    margin-top: 4px;
    margin-right: 1px;
    filter: brightness(1.1) drop-shadow(0px 0px 2px);
    background-image: url(/resources/img/coin.png);
    background-size: 100% 100%;
}

.garage .bottom-block .item img {
    position: relative;
    top: 50%;
    transform: translate( 0%, -50% );
}

.garage .bottom-block .item:hover {
    opacity: 0.9;
    border-color: #eee;
}

.garage .bottom-block .tab {
    position: absolute;
    left: 10px;
    top: 0px;
    opacity: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    transition: opacity 400ms ease, left 400ms ease;
}

.garage .bottom-block .tab.active {
    left: 0px;
    opacity: 1;
}

.garage .bottom-block .item.active {
    opacity: 1;
    border-color: #1FB7FC;
    border-width: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.garage .bottom-block .item.notOwn .img {
    filter: brightness(0.0);
}

.garage .menu-items {
    position: absolute;
    left: 0px;
    bottom: 131px;
}

.garage .menu-items .item {
    position: relative;
    margin-right: 20px;
    float: left;
    padding: 5px 5px 5px 15px;
    background-color: #333;
    color: #fff;
    filter: drop-shadow( 0px 0px 2px rgba( 255, 255, 255, 0.5 ) );
    font: normal 15px Roboto, arial, tahoma;
    transition: background-color 400ms ease;
    border-radius: 3px 0px 0px 0px;
}

.garage .menu-items .item .decoration {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -10px;  
    bottom: 0;
    width: 13px;
    background: #333;
    transform: skew(15deg);
    border-radius: 0 5px 0 0;
    transition: background-color 400ms ease;
}

.garage .menu-items div:hover {
    background-color: #D8D8D8;
}

.garage .menu-items .item:hover .decoration {
    background-color: #D8D8D8;
}

.garage .menu-items .item.active {
    background-color: #32ABE3;
    color: #fff;
}

.garage .menu-items .item.active .decoration {
    background-color: #32ABE3;
}

.garage .tank-title {
    color: #fffdfd;
    padding: 20px 10px 0px;
    margin: 0;
}

.garage .play-btn {
    display: none;
    position: absolute;
    left: 50%;
    top: 12px;
    transform: translateX( -50% );
    color: white;
    background-color: #00b6ff;
    border: 1px solid #0493CC;
    text-align: center;
    opacity: 0.8;
    padding: 8px;
    width: 100px;
    height: 18px;
    transition: opacity 200ms ease;
    z-index: 1;
}

.garage .play-btn:hover {
    opacity: 0.9;
}

.garage .play-btn:active {
    opacity: 1;
    transform: translate( -50%, 2px );
}

.garage .close-btn:hover {
    opacity: 0.8;
}

.garage .close-btn:active {
    opacity: 1;
    top: 7px;
}

.garage .buy-item-popup-wrapper {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.6 );
    z-index: 10;
    opacity: 0;
    transition: opacity 400ms ease;
}

.garage .buy-item-popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: 400px;
    height: 170px;
    background-color: #c3c3c3;
    border: 2px solid #bcd4df;
    filter: drop-shadow( 0px 0px 20px #000 );
}

.garage .buy-item-popup .error {
    display: none;
}

.garage .buy-item-popup .error .price-value {
    color: #fb4627;
}

.garage .buy-item-popup .title, .garage .buy-item-popup .error {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    color: #00b6ff;
    font-size: 23px;
    filter: drop-shadow(0px 0px 4px #fff);
}

.garage .buy-item-popup .price {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    filter: drop-shadow( 0px 0px 10px rgb(141, 236, 253) );
}

.garage .buy-item-popup .coin-ico {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 1px;
    filter: brightness(1.1);
    background-image: url(/resources/img/coin.png);
    background-size: 100% 96%;
    background-repeat: no-repeat;
    background-position: 1px 3px;
}

.garage .buy-item-popup .price-value {
    display: inline-block;
}

.garage .buy-item-popup .image {
    display: inline-block;
    width: 50px;
    height: 25px;
    filter: brightness(0.0) drop-shadow(0px 0px 2px);
    background-size: 100% 100%;
    transform: translateY(4px);
}

.garage .buy-item-popup .btns {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.garage .buy-item-popup .btns .btn {
    width: 86px;
    margin: 10px;
}

.garage .buy-item-popup .cancel-btn {
    background-color: #fb4627;
    border-color: #ad2f19;
}

.garage .buy-item-popup .okay-btn {
    display: none;
    background-color: #fb4627;
    border-color: #ad2f19;
    margin: 20px auto !important;
}
