/* garage */

.garage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    opacity: 0;
}

.garage .btn {
    display: inline-block;
    background-color: #00b6ff;
    padding: 10px 20px;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.6;
    transition: opacity 200ms ease;
}

.garage .btn:hover {
    opacity: 0.9;
}

.garage .btn:active {
    opacity: 1;
    transform: translate( 0px, 2px );
}

.garage .garage-wrapper {
    position: relative;
    min-width: 318px;
    min-height: 311px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.garage .loading {
    position: absolute;
    top: 40%;
    left: calc( 50% - 235px );
    font: normal 18px arial;
    color: #fff;
    z-index: 10;
}

@media only screen and (max-width: 880px) {
    .garage .loading {
        left: calc( 50% - 35px );
    }
}

.garage canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: rgba(153, 153, 153, 1);
}

.garage .garage-title {
    position: absolute;
    top: 15px;
    left: 15px;
    padding-right: 50px;
    font: normal 23px Roboto, arial, tahoma;
    color: #fff;
    text-shadow: 0px 0px 2px rgba( 255, 255, 255, 0.5 );
    z-index: 1;
}

.garage .garage-title .level-label {
    font-size: 12px;
}

.garage .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba( 0, 0, 0, 0.5 );
    border-bottom: 2px solid rgba( 100, 100, 100, 0.8 );
    z-index: 1;
}


.garage .header #fullscreen {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 50px;
    height: 40px;
    background-image: url(/resources/img/fullscreen-on-off.png);
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
    z-index: 1;
}

.garage .header #fullscreen:hover {
    opacity: 0.85;
}

.garage .header #fullscreen:active {
    transform: translate( 0px, 2px );
    opacity: 1;
}

.garage .header #fullscreen[screen="true"] {
    background-position: 0% 100%;
}

/* sound-on-off */

.garage .header #sound {
    position: absolute;
    top: 0px;
    right: 60px;
    width: 60px;
    height: 60px;
    background-image: url('../resources/img/sound-on-off.png');
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
    z-index: 1;
}

.garage .header #sound:hover {
    opacity: 0.85;
}

.garage .header #sound:active {
    transform: translate( 0px, 2px );
    opacity: 1;
}

.garage .header #sound[sound="true"] {
    background-position: 0% 100%;
}

.garage .header .divider {
    position: absolute;
    top: 20%;
    right: 120px;
    width: 1px;
    height: 60%;
    border-left: 1px solid rgba( 255, 255, 255, 0.17 );
}

.garage .header .stats-block {
    position: absolute;
    top: 20px;
    right: 140px;
    z-index: 1;
}

.garage .header .stats-block .coins {
    float: left;
}

.garage .header .stats-block .coins .value {
    float: left;
    color: #fff;
    font: bold 16px Roboto, arial, tahoma;
    filter: drop-shadow(0px 0px 5px);
}

.garage .header .stats-block .coins .label {
    float: left;
    width: 22px;
    height: 22px;
    margin-top: -2px;
    margin-right: 5px;
    color: #fff;
    filter: brightness(1.1) drop-shadow(0px 0px 2px);
    background-image: url(/resources/img/coin.png);
    background-size: 100% 100%;
}

/*  */

.garage .level-block {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 200px;
}

.garage .level-block .progress {
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: rgba( 255, 255, 255, 0.15 );
}

.garage .level-block .progress .progress-value {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0%;
    background-color: #fff;
    box-shadow: 0px 0px 6px #fff;
}

.garage .level-block .title {
    margin-top: 8px;
    color: #fff;
    font: bold 14px 'Roboto', arial, tahoma;
    opacity: 0.9;
    letter-spacing: 0.1em;
    text-shadow: 0px 0px 21px #eee;
}

.garage .level-block .bonuses {
    position: absolute;
    top: -4px;
    right: -31px;
    filter: drop-shadow(0px 0px 2px);
}

.garage .level-block .bonuses .label {
    float: left;
    width: 10px;
    height: 15px;
    margin-top: -1px;
    margin-right: 5px;
    padding-right: 5px;
    color: #fff;
    filter: brightness(1.1) drop-shadow(0px 0px 2px);
    background-image: url(/resources/img/xp.png);
    background-size: 100% 100%;
}

.garage .level-block .bonuses .value {
    float: left;
    color: #fff;
    font: normal 12px/16px Roboto, arial, tahoma;
    filter: drop-shadow(0px 0px 5px);
}

/*  */

.garage .right-block {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 400px;
    height: 320px;
    z-index: 1;
}

.garage .right-block .buy-block {
    position: absolute;
    display: none;
    right: 55px;
    bottom: 0px;
    transform: translate( 0px, 0px );
    transition: opacity 400ms ease, transform 400ms ease;
}

.garage .right-block .buy-block .price {
    position: relative;
    float: right;
    padding-top: 6px;
    margin-right: 20px;
}

.garage .right-block .buy-block .price .label {
    float: left;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    color: #fff;
    filter: brightness(1.1) drop-shadow(0px 0px 2px);
    background-image: url(/resources/img/coin.png);
    background-size: 100% 100%;
}

.garage .right-block .buy-block .price .value {
    float: left;
    font: bold 14px 'Roboto', arial, tahoma;
    color: #fff;
    filter: drop-shadow(0px 0px 5px);
}

.garage .right-block .buy-block .buy-btn {
    position: relative;
    float: right;
    color: white;
    background-image: linear-gradient(#39c600, #1a7600);
    border: 1px solid #357e0a;
    text-align: center;
    opacity: 0.8;
    padding: 5px 12px;
    font-size: 13px;
    font-weight: 500;
    z-index: 1;
    cursor: pointer;
}

.garage .right-block .buy-block .buy-btn.inactive {
    background-image: linear-gradient(#ff0d0d, #881010);
    border: 1px solid #c28e8e;
}

.garage .right-block .buy-btn:hover {
    background-image: linear-gradient(#2f9f02, #166101);
}

.garage .right-block .buy-btn:active {
    bottom: -2px;
}

.garage .right-block .item-title {
    margin-top: 20px;
    margin-left: 20px;
    font: bold 20px Roboto, arial, tahoma;
    color: #fff;
    text-shadow: 0px 0px 2px rgba( 255, 255, 255, 0.5 );
}

.garage .right-block .item-description {
    width: 325px;
    margin-left: 20px;
    margin-top: 10px;
    color: #444;
    font: normal 14px Roboto, arial, tahoma;
    letter-spacing: 0.4px;
}

.garage .right-block .sub-block-title {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4c5357;
}

.garage .right-block .tank-stats {
    width: 325px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.garage .right-block .tank-stats .stats-title {
    font: normal 14px Roboto, arial, tahoma;
    color: #fff;
}

.garage .right-block .tank-stats .stats-delta-value {
    float: right;
    width: 30px;
    font: normal 10px/14px Roboto, arial, tahoma;
    color: rgb(52, 238, 39);
    margin-top: -13px;
    text-align: right;
}

.garage .right-block .tank-stats .stats-value {
    float: right;
    font: normal 12px Roboto, arial, tahoma;
    color: #fff;
    margin-top: -13px;
    margin-left: 10px;
}

.garage .right-block .tank-stats .stats-progress {
    position: relative;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    margin-bottom: 15px;
    background-color: rgba( 255, 255, 255, 0.1 );
}

.garage .right-block .tank-stats .stats-progress .green {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    transition: width 400ms ease;
    filter: drop-shadow( 0px 0px 1px rgb( 255, 255, 255 ) );
}

.garage .right-block .tank-stats .stats-progress .delta {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    z-index: 2;
    transition: width 400ms ease, left 400ms ease;
}

.garage .bottom-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 130px;
    background-color: rgba( 20, 20, 20, 0.8 );
    border-top: 1px solid #555;
    z-index: 0;
}

.garage .bottom-block .list {
    position: relative;
    height: 100%;
}

.garage .bottom-block .item {
    position: relative;
    float: left;
    width: 150px;
    height: 80%;
    margin: 11px;
    opacity: 0.6;
    border: 1px solid #b6b6b6;
    background-color: #444;
    transition: opacity 350ms ease, border-color 150ms ease;
}

.garage .bottom-block .item .obj-title {
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    color: #fcfcfc;
    font-weight: 700;
    padding-left: 5px
}

.garage .bottom-block .item:not(.notOwn) .price {
    display: none;
}

.garage .bottom-block .item .price {
    position: absolute;
    top: 2px;
    right: 5px;
    text-align: right;
    color: rgb(247, 234, 56);
}

.garage .bottom-block .item .price .value {
    color: #fff;
    font-size: 12px;
}

.garage .bottom-block .item .price .ico {
    float: left;
    width: 13px;
    height: 13px;
    margin-top: 4px;
    margin-right: 1px;
    filter: brightness(1.1) drop-shadow(0px 0px 2px);
    background-image: url(/resources/img/coin.png);
    background-size: 100% 100%;
}

.garage .bottom-block .item img {
    position: relative;
    top: 50%;
    transform: translate( 0%, -50% );
}

.garage .bottom-block .item:hover {
    opacity: 0.9;
    border-color: #eee;
}

.garage .bottom-block .tab {
    position: absolute;
    left: 10px;
    top: 0px;
    opacity: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    transition: opacity 400ms ease, left 400ms ease;
}

.garage .bottom-block .tab.active {
    left: 0px;
    opacity: 1;
}

.garage .bottom-block .item.active {
    opacity: 1;
    border-color: #1FB7FC;
    border-width: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.garage .bottom-block .item.notOwn .img {
    filter: brightness(0.0);
}

.garage .menu-items {
    position: absolute;
    left: 0px;
    bottom: 131px;
}

.garage .menu-items .item {
    position: relative;
    margin-right: 20px;
    float: left;
    padding: 5px 5px 5px 15px;
    background-color: #333;
    color: #fff;
    filter: drop-shadow( 0px 0px 2px rgba( 255, 255, 255, 0.5 ) );
    font: normal 15px Roboto, arial, tahoma;
    transition: background-color 400ms ease;
    border-radius: 3px 0px 0px 0px;
}

.garage .menu-items .item .decoration {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -10px;  
    bottom: 0;
    width: 13px;
    background: #333;
    transform: skew(15deg);
    border-radius: 0 5px 0 0;
    transition: background-color 400ms ease;
}

.garage .menu-items div:hover {
    background-color: #D8D8D8;
}

.garage .menu-items .item:hover .decoration {
    background-color: #D8D8D8;
}

.garage .menu-items .item.active {
    background-color: #32ABE3;
    color: #fff;
}

.garage .menu-items .item.active .decoration {
    background-color: #32ABE3;
}

.garage .tank-title {
    color: #fffdfd;
    padding: 20px 10px 0px;
    margin: 0;
}

.garage .play-btn {
    display: none;
    position: absolute;
    left: 50%;
    top: 12px;
    transform: translateX( -50% );
    color: white;
    background-color: #00b6ff;
    border: 1px solid #0493CC;
    text-align: center;
    opacity: 0.8;
    padding: 8px 15px;
    min-width: 100px;
    height: 18px;
    transition: opacity 200ms ease, background-image 200ms background-image;
    z-index: 1;
    font-weight: 500;
}

.garage .play-btn:hover {
    opacity: 0.9;
}

.garage .play-btn.active {
    background-image: linear-gradient(#39c600, #1a7600);
    border: 1px solid #889d7c;
    filter: drop-shadow(0px 0px 6px rgba(200, 255, 200, 0.7));
}

.garage .play-btn.inactive {
    background-image: linear-gradient(#ff0d0d, #881010);
    border: 1px solid #c28e8e;
    filter: drop-shadow(0px 0px 6px #ff5522);
}

.garage .play-btn:active {
    opacity: 1;
    transform: translate( -50%, 2px );
}

.garage .close-btn:hover {
    opacity: 0.8;
}

.garage .close-btn:active {
    opacity: 1;
    top: 7px;
}
