
/**/

#fullscreen-on-off {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 50px;
    height: 40px;
    background-image: url(/resources/img/fullscreen-on-off.png);
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#fullscreen-on-off:hover {
    opacity: 0.85;
}

#fullscreen-on-off:active {
    top: 21px;
    opacity: 1;
}

#fullscreen-on-off[screen="true"] {
    background-position: 0% 100%;
}

/**/

#graphics-quality {
    position: absolute;
    top: 20px;
    right: 80px;
    width: 50px;
    height: 40px;
    background-image: url(/resources/img/tank-quality.png);
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#graphics-quality:hover {
    opacity: 0.85;
}

#graphics-quality:active {
    top: 21px;
    opacity: 1;
}

#graphics-quality[hq="true"] {
    background-position: 0% 100%;
}

/* sound-on-off */

#sound-on-off {
    position: absolute;
    top: 10px;
    right: 129px;
    width: 60px;
    height: 60px;
    background-image: url('../resources/img/sound-on-off.png');
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#sound-on-off:hover {
    opacity: 0.85;
}

#sound-on-off:active {
    top: 11px;
    opacity: 1;
}

#sound-on-off[sound="true"] {
    background-position: 0% 100%;
}

.top-left-like-btns {
    position: absolute;
    left: 5px;
    top: 5px;
}

.top-left-like-btns .fb-like {
    opacity: 0;
    margin: 3px;
}

.top-left-like-btns .folow-btn {
    opacity: 0;
    margin: 3px;
}

#signin-box-wrapper {
    position: absolute;
    top: 26%;
    left: 0px;
    width: 100%;
    height: 50%;
    z-index: 1;
}

#signin-box-wrapper #signin-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    border: 1px solid #CCC;
    box-shadow: #888 0 0 40px;
    background-color: #fff;
}

#signin-box-wrapper #signin-box .note {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    font-size: 12px;
    color: #ff9844;
    text-align: center;
}

#signin-box-wrapper #signin-box #title {
    position: relative;
    margin-top: 30px;
    letter-spacing: 0.1em;
    font: normal 35px 'Roboto';
    color: #222;
    text-align: center;
}

#signin-box-wrapper #signin-box #title #alpha {
    right: 43px;
    bottom: 4px;
    position: absolute;
    font: bold 14px 'Roboto';
    color: #00b6ff;
}

#signin-box-wrapper #signin-box .field {
    display: table;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: auto;
    padding: 8px 15px;
    width: 80%;
    font: normal 15px 'Roboto';
    cursor: url('../resources/img/cursor.png'), auto;
    outline: none;
}

#signin-box-wrapper #signin-box #play-change-btn{
    position: relative;
    margin-top: 8px;
    width: 100%;
    height: 41px;
}

#signin-box-wrapper #signin-box #play-btn #play-btn-text{
    position: relative;
    top: 10px;
}

#signin-box-wrapper #signin-box #play-btn {
    float: left;
    background-color: #00b6ff;
    height: 41px;
    margin-left: 16px;
    margin-right: auto;
    width: 90%;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
}

#signin-box-wrapper #signin-box #play-btn:hover {
    opacity: 1;
}

#signin-box-wrapper #signin-box #instructions {
    position: relative;
    width: 100%;
    margin-top: 11px;
    font: normal 13px arial, tahoma;
    text-align: center;
    color: #888;
}

/**/

.new-features-box {
    display: none;
    position: absolute;
    top: 26%;
    left: 0px;
    width: 100%;
    height: 50%;
}

.new-features-box .new-features{
    position: relative;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    float: left;
    left: calc( 50% + 190px );
    border: 1px solid #333;
    overflow-y: scroll;
    background-color: transparent;
    z-index: 2;
}

.new-features-box .new-features .title{
    position: relative;
    margin-left: 20px;
    color: #ffffff;
}

.new-features-box .new-features .date{
    position: relative;
    margin-left: 20px;
    font-size: 12px;
    color: #948774;
}

.new-features-box .new-features .description{
    position: relative;
    margin-left: 20px;
    font-size: 13px;
    color: #ffffff;
}

@media only screen and (max-width: 1020px) {
    .new-features-box {
        display: none;
    }
}

/* scroll - Chrome*/
.new-features-box .new-features::-webkit-scrollbar {
    width:7px;
    height: 7px;
}
.new-features-box .new-features::-webkit-scrollbar-thumb {
    border-radius:9px;
    background:#55585b;
    height: 7px;
}
/* scroll - Firefox 19+ */
.new-features-box .new-features::-moz-scrollbar {
    width:7px;
}
.new-features-box .new-features::-moz-scrollbar-thumb {
    border-radius:9px;
    background:#55585b;
}

/* scroll - Firefox 18- */
.new-features-box .new-features:-moz-scrollbar {
    width:7px;
}
.new-features-box .new-features:-moz-scrollbar-thumb {
    border-radius:9px;
    background:#55585b;
}

/* scroll - IE 10+ */
.new-features-box .new-featuress:-ms-scrollbar {
    width:7px;
}
.new-features-box .new-features:-ms-scrollbar-thumb {
    border-radius:9px;
    background:#55585b;
}

/**/

.top-players-score {
    visibility: hidden;
    width: 320px;
    background: transparent;
    height: initial;
    left: 0px;
    color: #d6d6d6;
    position: fixed;
    top: calc(50% - +250px);
    overflow: hidden;
}
@media only screen and (max-width: 1020px) {
    .top-players-score {
        display: none;
    }
}
@media only screen and (max-height: 700px) {
    .top-players-score {
        height: 244px;
        top: calc(50% - +145px);
    }
}
.top-players-score table {
    border: 1px solid white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    pointer-events: none;
    z-index: 900;
    color: #dbdbdb;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}
.top-players-score table tr {
    border: 1px solid #211e1e;
    border-left: 1px solid transparent;
}
.top-players-score .players-score {
    float: left;
    width: 180px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 16px;
    margin: 0 7px;
    text-align: left;
    font-weight: 400;
}
.top-players-score .players-score.kills {
    width: 90px;
    text-align: center;
}
.top-players-score .players-score.header {
    font-size: 18px;
}
.top-players-score .players-score .nmb {
    opacity: 0.3;
}
.top-players-score .header.login {
    width: 185px;
    font-weight: 700;
}
.top-players-score .header.kills {
    width: 75px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
}

/**/

.share-btns {
    position: absolute;
    opacity: 1;
    right: 25px;
    bottom: 20px;
    z-index: 10;
    height: 93px;
}

.share-btns a {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.share-btns a .img {
    width: 100%;
    height: 100%;
}

/* garage */

.skin-name {
    color: #fffdfd;
    padding: 20px 10px 0px;
    margin: 0;
}

.tank-skins {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    background: rgba(0,0,0,0.8);
}

.select-tank-skins {
    position: relative;
    min-width: 318px;
    min-height: 311px;
    margin-left: auto;
    margin-right: auto;
    top: 8%;
    width: 85%;
    height: 80%;
}

.select-tank-skins canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: 3px solid #555;
    background: rgba(153, 153, 153, 1);
}

.close-tank-skins {
    position: inherit;
    float: right;
    padding: 10px;
    margin-right: 13px;
    margin-top: 6px;
    z-index: 100;
    color: #fff;
    font-size: 30px;
}

.select-window {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.tankskin {
    position: relative;
    width: 100%;
    height: 100%;
}

.choice-skins {
    position: absolute;
    bottom: 36px;
    border: none;
    left: calc( 50% - 210px );
    width: 420px;
}

.arrows {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 82px;
    background: rgba( 200, 200, 200, 0 );
    transition: background 400ms ease;
}

.arrows:hover {
    background: rgba( 200, 200, 200, 0.1 );
}

.arrows img {
    position: absolute;
    width: 12px;
    height: 16px;
    top: 30px;
    left: calc( 50% - 6px );
}

.choice-skins .tank {
    position: relative;
    width: 84px;
    height: 60px;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 200ms ease;
}

.choice-skins .tank:hover {
    opacity: 0.9;
}

.choice-skins .tank .tank-img {
    width: 84px;
    height: 60px;
}

.choice-skins .new-img {
    position: absolute;
}

.choice-skins .title {
    width: 100%;
    text-align: center;
    color: #bbb;
    font-size: 12px;
    opacity: 0;
    transition: opacity 200ms ease;
}

.choice-skins .tank:hover .title {
    opacity: 1;
}

.choice-skins .tank.active {
    opacity: 1;
}

.choice-skins .tank.active .tank-img {
    border-bottom: 3px solid #00b6ff;
}

.container-specification {
    position: absolute;
    position: relative;
    width: 280px;
    top: 10%;
    left: 5%;
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;
}

.line-characteristics {
    position: relative;
    display: inline-flex;
    width: 100%;
    color: #a49999;
    margin: 20px 0;
}

.specification-txt {
    position: absolute;
    right: 10px;
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.specification-value {
    position: absolute;
    left: 10px;
    margin: 0;
}

.counter-characteristicks {
    position: absolute;
    width: 130px;
    height: 8px;
    border-radius: 3px;
    border: 1px solid #695e5e;
    left: 70px;
    top: 5px;
}

.counter-characteristicks .color {
    background-color: #34b83c;
    height: 100%;
    border-radius: inherit;
}

.vk-picture-share {
    border:0px;
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 200px;
    margin-top: 26px;
}

.tw-picture-share {
    border: 0px;
    width: 50px;
    height: 50px;
}

.btn-pick {
    position: absolute;
    left: calc( 50% - 50px );
    color: white;
    background-color: #00b6ff;
    border: 1px solid #0493CC;
    bottom: 35%;
    width: 10%;
    text-align: center;
    opacity: 0.8;
    padding: 8px;
    width: 100px;
    height: 18px;
    transition: opacity 200ms ease;
}

.btn-pick:hover {
    opacity: 1;
}

/* footer */

#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #333;
    border-top: 1px solid #444;
}

#footer #dt-version {
    position: absolute;
    top: 12px;
    left: 25px;
    color: #fff;
    cursor: default;
    font-size: 11px;
    opacity: 0.2;
}

#footer a {
    float: right;
    margin-top: 9px;
    margin-right: 15px;
    padding: 4px;
    text-decoration: none;
    font: normal 11px Roboto, tahoma, arial;
    color: #fff;
    letter-spacing: 0.05em;
    opacity: 0.5;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#footer a:hover {
    text-decoration: underline;
    opacity: 0.8;
}
