
/**/

#help {
    position: absolute;
    top: 16px;
    right: 188px;
    width: 50px;
    height: 50px;
    background-image: url(/resources/img/help.png);
    background-size: 100%;
    opacity: 0.7;
    transition: opacity 200ms ease;
}

#help:hover {
    opacity: 0.85;
}

#help:active {
    top: 17px;
    opacity: 1;
}

/**/

#fullscreen-on-off {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 50px;
    height: 40px;
    background-image: url(/resources/img/fullscreen-on-off.png);
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
}

#fullscreen-on-off:hover {
    opacity: 0.85;
}

#fullscreen-on-off:active {
    top: 21px;
    opacity: 1;
}

#fullscreen-on-off[screen="true"] {
    background-position: 0% 100%;
}

/**/

#graphics-quality {
    position: absolute;
    top: 20px;
    right: 80px;
    width: 50px;
    height: 40px;
    background-image: url(/resources/img/tank-quality.png);
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
}

#graphics-quality:hover {
    opacity: 0.85;
}

#graphics-quality:active {
    top: 21px;
    opacity: 1;
}

#graphics-quality[hq="true"] {
    background-position: 0% 100%;
}

/* sound-on-off */

#sound-on-off {
    position: absolute;
    top: 10px;
    right: 129px;
    width: 60px;
    height: 60px;
    background-image: url('../resources/img/sound-on-off.png');
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
}

#sound-on-off:hover {
    opacity: 0.85;
}

#sound-on-off:active {
    top: 11px;
    opacity: 1;
}

#sound-on-off[sound="true"] {
    background-position: 0% 100%;
}

.top-left-like-btns {
    position: absolute;
    left: 5px;
    top: 5px;
}

.top-left-like-btns .fb-like {
    opacity: 0;
    margin: 3px;
}

.top-left-like-btns .folow-btn {
    opacity: 0;
    margin: 3px;
}

/* sign in block */

#signin-box-wrapper {
    position: absolute;
    top: calc( 25% - 100px );
    left: 0px;
    width: 100%;
    z-index: 1;
}

#signin-box-wrapper #signin-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    border: 1px solid #CCC;
    box-shadow: #888 0 0 40px;
    background-color: #fff;
}

#signin-box-wrapper #signin-box .note {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    font-size: 12px;
    color: #ff9844;
    text-align: center;
}

#signin-box-wrapper #signin-box #title {
    position: relative;
    margin-top: 30px;
    letter-spacing: 0.1em;
    font: normal 35px 'Roboto';
    color: #222;
    text-align: center;
}

#signin-box-wrapper #signin-box #title #alpha {
    right: 43px;
    bottom: 4px;
    position: absolute;
    font: bold 14px 'Roboto';
    color: #00b6ff;
}

#signin-box-wrapper #signin-box .field {
    display: table;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: auto;
    padding: 8px 15px;
    width: 80%;
    font: normal 15px 'Roboto';
    cursor: url('../resources/img/cursor.png'), auto;
    outline: none;
}

#signin-box-wrapper #signin-box #play-btn {
    background-color: #00b6ff;
    padding: 10px 0px;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: auto;
    width: calc( 90% - 2px );
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
}

#signin-box-wrapper #signin-box #play-btn #play-btn-text {
    position: relative;
    top: 10px;
}

#signin-box-wrapper #signin-box #play-btn:hover {
    opacity: 1;
}

#signin-box-wrapper #signin-box #signup-btn {
    display: block;
    background-color: #c48d18;
    padding: 10px 0px;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: auto;
    width: calc( 90% - 2px );
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #a37614;
    opacity: 0.8;
    transition: opacity 200ms ease;
    text-decoration: none;
}

#signin-box-wrapper #signin-box #signup-btn .fb-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 70px;
    background-image: url(/resources/img/fb-icon.png);
    background-size: 100% 100%;
}

#signin-box-wrapper #signin-box #signup-btn:hover {
    opacity: 1;
}

#signin-box-wrapper #signin-box #instructions {
    position: relative;
    width: 100%;
    margin-top: 11px;
    font: normal 13px arial, tahoma;
    text-align: center;
    color: #888;
}

/**/

.new-features-box {
    position: absolute;
    top: calc( 25% - 100px );
    left: 0px;
    width: 100%;
    height: 486px;
}

.new-features-box .new-features {
    position: relative;
    height: 486px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    float: left;
    left: calc( 50% + 190px );
    border: 1px solid #333;
    overflow-y: scroll;
    background-color: transparent;
    z-index: 2;
}

.new-features-box .new-features .title {
    position: relative;
    margin-left: 20px;
    color: #ffffff;
}

.new-features-box .new-features .date {
    position: relative;
    margin-left: 20px;
    font-size: 12px;
    color: #948774;
}

.new-features-box .new-features .description {
    position: relative;
    margin-left: 20px;
    font-size: 13px;
    color: #ffffff;
}

@media only screen and (max-width: 1450px) {
    .new-features-box {
        display: none;
    }
}

@media only screen and (max-height: 670px) {
    #div-gpt-ad-1484229654832-0 {
        display: none;
    }
}

/* scroll - Chrome*/
.new-features-box .new-features::-webkit-scrollbar {
    width:7px;
    height: 7px;
}
.new-features-box .new-features::-webkit-scrollbar-thumb {
    border-radius:9px;
    background:#55585b;
    height: 7px;
}
/* scroll - Firefox 19+ */
.new-features-box .new-features::-moz-scrollbar {
    width:7px;
}
.new-features-box .new-features::-moz-scrollbar-thumb {
    border-radius:9px;
    background:#55585b;
}

/* scroll - Firefox 18- */
.new-features-box .new-features:-moz-scrollbar {
    width:7px;
}
.new-features-box .new-features:-moz-scrollbar-thumb {
    border-radius:9px;
    background:#55585b;
}

/* scroll - IE 10+ */
.new-features-box .new-featuress:-ms-scrollbar {
    width:7px;
}
.new-features-box .new-features:-ms-scrollbar-thumb {
    border-radius:9px;
    background:#55585b;
}

/**/

.top-players-score {
    visibility: hidden;
    width: 320px;
    background: transparent;
    height: initial;
    left: 0px;
    color: #d6d6d6;
    position: fixed;
    top: 19%;
    overflow: hidden;
}
@media only screen and (max-width: 1020px) {
    .top-players-score {
        display: none;
    }
}
@media only screen and (max-height: 700px) {
    .top-players-score {
        height: 244px;
        top: calc(50% - +145px);
    }
}
.top-players-score table {
    border: 1px solid white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    pointer-events: none;
    z-index: 900;
    color: #dbdbdb;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}
.top-players-score table tr {
    border: 1px solid #211e1e;
    border-left: 1px solid transparent;
}
.top-players-score .players-score {
    float: left;
    width: 180px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 16px;
    margin: 0 7px;
    text-align: left;
    font-weight: 400;
}
.top-players-score .players-score.kills {
    width: 90px;
    text-align: center;
}
.top-players-score .players-score.header {
    font-size: 18px;
}
.top-players-score .players-score .nmb {
    opacity: 0.3;
}
.top-players-score .header.login {
    width: 185px;
    font-weight: 700;
}
.top-players-score .header.kills {
    width: 75px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
}

/**/

.share-btns {
    position: absolute;
    opacity: 1;
    right: 17px;
    bottom: 55px;
    z-index: 10;
    height: 60px;
}

.share-btns a {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.share-btns a .img {
    width: 100%;
    height: 100%;
}

.vk-picture-share {
    border:0px;
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 200px;
    margin-top: 26px;
}

.tw-picture-share {
    border: 0px;
    width: 50px;
    height: 50px;
}

/* footer */

#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #333;
    border-top: 1px solid #444;
}

#footer #dt-version {
    position: absolute;
    top: 12px;
    left: 25px;
    color: #fff;
    cursor: default;
    font-size: 11px;
    opacity: 0.2;
}

#footer a {
    float: right;
    margin-top: 9px;
    margin-right: 15px;
    padding: 4px;
    text-decoration: none;
    font: normal 11px Roboto, tahoma, arial;
    color: #fff;
    letter-spacing: 0.05em;
    opacity: 0.5;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#footer a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/*  */

@media only screen and (max-width: 800px) {

    #IOG_CP {
        display: none;
    }

}
