/* global */

body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #272727;
    cursor: url('../resources/img/cursor.png'), auto;
}

*:not(input) {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clearfix {
    clear: both;
}

#stats {
    display: none;
}

/**/ 

#graphics-quality {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 40px;
    background-image: url(/resources/img/tank-quality.png);
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#graphics-quality:hover {
    opacity: 0.85;
}

#graphics-quality:active {
    top: 21px;
    opacity: 1;
}

#graphics-quality[hq="true"] {
    background-position: 0% 100%;
}

/**/ 
/*sound-on-off*/

#sound-on-off {
    position: absolute;
    top: 10px;
    right: 90px;
    width: 60px;
    height: 60px;
    background-image: url('../resources/img/sound-on-off.png');
    background-size: 100% 200%;
    opacity: 0.7;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#sound-on-off:hover {
    opacity: 0.85;
}

#sound-on-off:active {
    top: 11px;
    opacity: 1;
}

#sound-on-off[sound="true"] {
    background-position: 0% 100%;
}

/**/
/*GEAR BTN*/
#gear_btn {
    position: absolute;
    display: none;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-image: url('../resources/img/gear.png');
    background-size: 100%;
    opacity: 0.9;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#gear_btn:hover {
    opacity: 0.85;
}

#gear_btn:active {
    top: 21px;
    opacity: 1;
}

#gear_btn[gear="true"] {
    background-position: 0% 100%;
}

#settings-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    padding-bottom: 20px;
    border: 1px solid #CCC;
    box-shadow: #888 0 0 40px;
    background-color: #fff;
    top: 30%;
}

#settings-wrapper #settings-tittle {
    position: relative;
    color: black;
    font: normal 20px 'Roboto';
    text-align: center;
}

#settings-wrapper #settings-nickname {
    position:relative;
    color: black;
    margin-left: 5px;
    font: normal 17px 'Roboto';
}

#settings-wrapper .field {
    display: table;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: auto;
    padding: 2px 2px;
    width: 55%;
    border: 2px solid #00b6ff;
    border-radius: 4px;
    font: normal 15px 'Roboto';
    cursor: url('../resources/img/cursor.png'), auto;
}

#settings-wrapper #change-nickname {
    position: absolute;
    top: 20%;
    left: 65%;
    background-color: #00b6ff;
    padding: 2px 2px;
    margin-top: 2px;
    float: top;
    margin-left: auto;
    margin-right: 15px;
    width: 30%;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#settings-wrapper #settings-sound {
    position: relative;
    color: black;
    margin-left: 5px;
    margin-top: 2px;
    font: normal 20px 'Roboto';
}

#settings-wrapper #soundon {
    position: absolute;
    top: 32%;
    left: 65%;
    background-color: #00b6ff;
    padding: 2px 2px;
    margin-top: 3px;
    float: top;
    margin-left: auto;
    margin-right: 15px;
    width: 14%;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#settings-wrapper #soundoff {
    position: absolute;
    top: 32%;
    left: 81%;
    background-color: red;
    padding: 2px 2px;
    margin-top: 3px;
    float: top;
    margin-left: auto;
    margin-right: 15px;
    width: 14%;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#settings-wrapper #settings-quality {
    position: relative;
    color: black;
    margin-left: 5px;
    margin-top: 2px;
    font: normal 20px 'Roboto';
}

#settings-wrapper #qualityon {
    position: absolute;
    top: 45%;
    left: 65%;
    background-color: #00b6ff;
    padding: 2px 2px;
    margin-top: 3px;
    float: top;
    margin-left: auto;
    margin-right: 15px;
    width: 14%;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#settings-wrapper #qualityoff {
    position: absolute;
    top: 45%;
    left: 81%;
    background-color: red;
    padding: 2px 2px;
    margin-top: 3px;
    float: top;
    margin-left: auto;
    margin-right: 14px;
    width: 14%;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#settings-wrapper #exit-btn {
    position: absolute;
    top: 85%;
    left: 65%;
    background-color: red;
    padding: 2px 2px;
    margin-top: 2px;
    float: top;
    margin-left: auto;
    margin-right: 15px;
    width: 30%;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

/**/

#signin-box-wrapper {
    position: absolute;
    top: 26%;
    left: 0px;
    width: 100%;
    height: 50%;
}

#signin-box-wrapper #signin-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    border: 1px solid #CCC;
    box-shadow: #888 0 0 40px;
    background-color: #fff;
}

#signin-box-wrapper #signin-box .note {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    font-size: 12px;
    color: #ff9844;
    text-align: center;
}

#signin-box-wrapper #signin-box #title {
    position: relative;
    margin-top: 30px;
    letter-spacing: 0.1em;
    font: normal 35px 'Roboto';
    color: #222;
    text-align: center;
}

#signin-box-wrapper #signin-box #title #alpha {
    right: 43px;
    bottom: 4px;
    position: absolute;
    font: bold 14px 'Roboto';
    color: #00b6ff;
}

#signin-box-wrapper #signin-box .field {
    display: table;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 15px;
    width: 80%;
    font: normal 15px 'Roboto';
    cursor: url('../resources/img/cursor.png'), auto;
    outline: none;
}

#signin-box-wrapper #signin-box #play-btn {
    display: table;
    background-color: #00b6ff;
    padding: 10px 16px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: calc( 80% + 30px );
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
    outline: none;
}

#signin-box-wrapper #signin-box #play-btn:hover {
    opacity: 1;
}

#signin-box-wrapper #signin-box #instructions {
    position: relative;
    width: 100%;
    margin-top: 11px;
    font: normal 13px arial, tahoma;
    text-align: center;
    color: #888;
}

/* continue box */

#continue-box-wrapper {
    display: none;
    position: absolute;
    top: 26%;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 200ms ease;
    z-index: 10;
}

#continue-box-wrapper #continue-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    padding-bottom: 20px;
    border: 1px solid #CCC;
    box-shadow: #888 0 0 40px;
    background-color: #fff;
}

#continue-box-wrapper #continue-box #title {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    letter-spacing: 0.1em;
    font: normal 35px 'Roboto';
    color: #222;
    text-align: center;
}

#continue-box-wrapper #continue-box #share-btns {
    display: table;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 170px;
}

#continue-box-wrapper #continue-box #share-btns .fb-like {
    float: left;
    margin: 2px;
}

#continue-box-wrapper #continue-box #share-btns .folow-btn {
    float: left;
    margin: 2px;
}

#continue-box-wrapper #continue-box #continue-btn {
    display: table;
    background-color: #00b6ff;
    padding: 10px 16px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font: normal 15px 'Roboto';
    color: #fff;
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
}

#continue-box-wrapper #continue-box #continue-btn:hover {
    opacity: 1;
}

#continue-box-wrapper #continue-box #instructions {
    position: relative;
    width: 100%;
    margin-top: 11px;
    font: normal 13px arial, tahoma;
    text-align: center;
    color: #888;
}

/* viewport */

#viewport {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
    cursor: url('../resources/img/cursor.png'), auto;
}

#viewport #renderport {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
    cursor: url('../resources/img/cursor.png'), auto;
}

/* footer */

#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #333;
    border-top: 1px solid #444;
}

#footer a {
    float: right;
    margin-top: 9px;
    margin-right: 15px;
    padding: 4px;
    text-decoration: none;
    font: normal 11px Roboto, tahoma, arial;
    color: #fff;
    letter-spacing: 0.05em;
    opacity: 0.5;
    transition: opacity 200ms ease;
    cursor: url('../resources/img/cursor.png'), auto;
}

#footer a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/**/

#viewport .tankLabel {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 18px;
}

#viewport .tankLabel .title {
    text-align: center;
    color: #fff;
    float: left;
    letter-spacing: 0.1em;
    font: normal 17px arial, tahoma;
}

#viewport .tankLabel .teamRec {
    margin: 3px;
    height: 12px;
    float: left;
    width: 12px;
    margin-top: 4px;
}

#player-params {
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 50px;
    width: 250px;
    color: burlywood;
    cursor: url('../resources/img/cursor.png'), auto;
}

#ammo {
    float: left;
    height: 100%;
    width: 50%;
}

#ammo-image {
    height: 100%;
    float: left;
    background-image: url('../resources/img/ammo1.png');
    width: 50px;
    background-size: 100% 100%;
    overflow: hidden;
}

#empty-ammo-image {
    height: 100%;
    background-image: url('../resources/img/ammo.png');
    width: 50px;
    background-size: cover;
}

.ammo-animation {
    animation-name: reload;
    animation-duration: 1s;
    animation-fill-mode: forwards;   
}

#ammo-number {
    height: 100%;
    float: left;
    font-size: 32px;
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
}

#health {
    float: left;
    height: 100%;
    width: 50%;
}

#health-image {
    height: 100%;
    float: left;
    background-image: url('../resources/img/health.png');
    width: 50px;
    background-size: 100% 100%;
    overflow: hidden;
}

#empty-health-image {
    height: 0%;
    background-image: url('../resources/img/health1.png');
    width: 50px;
    background-size: cover;
}

#health-number {
    height: 100%;
    float: left;
    font-size: 32px;
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
}

#team-params {
    top: 10px;
    position: absolute;
    width: 320px;
    left: calc(50% - 160px);
    color: burlywood;
}

.team-image {
    height: 30px;
    float: left;
    width: 30px;
    margin: 5px;
}

.team-number {
    height: 40px;
    float: left;
    font-size: 25px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.team-stat {
    height: 100%;
    width: 80px;
    float: left;
}

#team1-score .team-image {
    background-color: red;
}

#team2-score .team-image {
    background-color: green;
}

#team3-score .team-image {
    background-color: blue;
}

#team4-score .team-image {
    background-color: orange;
}

#top-killers {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgba( 0, 0, 0, 0.5 );
    color: burlywood;
    width: 195px;
}

.leaderboard {
    display: none;
    position: relative;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.killer-outer {
    position: relative;
    display: none;
    width: 100%;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.leaderboard-wrapper {
    position: relative;
    display: block;
}

.player-counter {
    float: left;
    width: 25px;
    text-align: center;
    font-size: 12px;
}

.players-team-image {
    background-color: green;
    width: 8px;
    height: 8px;
    margin-top: 2px;
    float: left;
    margin: 3px 3.5px 3px 3.5px;
}

.player-name {
    float: left;
    width: 110px;
    font-size: 12px;
}

.kills {
    float: left;
    width: 38px;
    text-align: right;
    font-size: 12px;
}

#divider {
    display: none;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid burlywood;
}

#top-killers .killer-outer.last {
    display: none;
}

@keyframes reload {
    from { height: 100%; }
    to { height: 0%; }
}

/**/

#arena-time {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font: normal 35px Roboto, arial, tahoma;
    color: burlywood;
    z-index: 10;
}

/* loader screen */

#loader-wrapper {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10;
    opacity: 0;
    transition: opacity 200ms ease;
}

#loader-wrapper #loader {
    position: relative;
    top: 42%;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#loader-wrapper #title {
    color: #fff;
    width: 250px;
    font: normal 13px Roboto, arial, tahoma;
}

#loader-wrapper #progress-wrapper {
    position: relative;
    width: 250px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #555;
    overflow: hidden;
}

#loader-wrapper #progress-wrapper #progress-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: #777;
}

#kill-events {
    position: absolute;
    left: 1%;
    top: 50%;
    color: white;
}

#winners {
    position: absolute;
    width: 400px;
    height: 275px;
    background-color: white;
    border: solid black 1px;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    z-index: 10;
    display: none;
}

#team-color {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 50px;
    float: left;
}

/*#team-color-killed {
    
}*/

#winner-label {
    display: inline-block;
    height: 70px;
    margin: 65px 0px;
    font-size: 70px;
    font-weight: bold;
    float: left;
    width: 200px;
}

.myplace {
    font-weight: bold;
    color: #fff;
}

#play-wrapper {
    width: 100%;
    height: 75px;
    display: inline-block;
}

#play-button {
    height: 40px;
    margin: 0px auto 50px auto;
    background-color: #00b6ff;
    color: white;
    padding: 10px 16px;
    width: 80%;
    text-align: center;
    font: normal 30px 'Roboto';
    border: 1px solid #0493CC;
    opacity: 0.8;
    transition: opacity 200ms ease;
}

/* other pages */

.content {
    height: calc( 100% - 100px );
    overflow-y: scroll;
    padding: 30px;
    font: normal 14px 'Roboto';
    color: #dfdfdf;
}

#share-btn {
    position: fixed;
    opacity: 1;
    left: 0;
    bottom: 42px;
    z-index: 10;
    width: 100%;
    height: 93px;
}

#f-btn {
    position: fixed;
    bottom: 37px;
    right: 15px;
    z-index: 20;
}

.btn-share-fb {
    width: 80px;
    height: 74px;
}

.fb-picture-share {
    border:0px;
    width: 80px;
    height: 74px;
}

#tw-btn {
    position: fixed; 
    bottom: 37px; 
    z-index: 20; 
    right: 104px;
}

.btn-share-tw {
    border: 0px;
    width: 80px;
    height: 74;
}

.change-skin-btn {
    position: fixed;
    left: 20px;
    bottom: 40px;
    z-index: 20;
    display: inline;
}

.btn-skin {
    width: 128px;
    height: 85px;
}

.snake-img {
    width: 85px;
    height:80px;
}

.tank-skins {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    background: rgba(0,0,0,0.4);
}

.select-tank-skins {
    position: relative;
    min-width: 318px;
    min-height: 311px;
    margin-left: auto;
    margin-right: auto;
    top: 8%;
    width: 70%;
    height: 70%;
    border: 3px solid #422;
}

.close-tank-skins {
    position: inherit;
    float: right;
    padding: 10px;
    margin-right: 13px;
    margin-top: 6px;
    z-index: 100;
    color: #fff;
    font-size: 30px;
}

.select-window {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.tankskin {
    position: relative;
    width: 100%;
    height: 100%;
}

.arrows1 {
    position: absolute;
    width: 11%;
    height: 100%;
    top: 0%;
    min-width: 31px;
}

.arrows2 {
    position: absolute;
    width: 15%;
    height: 100%;
    left: 85%;
    top: 0%;
}

.arrows-right {
    position: absolute;
    width: 29px;
    height: 11%;
    top: 45%;
    right: 5%;
}

.arrows-left {
    position: absolute;
    width: 29px;
    height: 11%;
    top: 45%;
    left: 5%;
}

.choice-skins {
    position: absolute;
    bottom: 36px;
    border: none;
    left: 30%;
    width: calc(36% + 6rem);
    margin-left: -8rem;
}

.choice-skins .tank {
    position: relative;
    width: 84px;
    height: 60px;
    display: inline-block;
    left: calc(32%);
    opacity: 0.7;
    transition: opacity 200ms ease;
}

.choice-skins .tank:hover {
    opacity: 0.9;
}

.choice-skins .tank .tank-img {
    width: 84px;
    height: 60px;
}

.choice-skins .tank.active {
    opacity: 1;
}

.choice-skins .tank.active .tank-img {
    border-bottom: 3px solid #00b6ff;
}

.title-select {
    position: absolute;
    top: 9.3%;
    right: 3%;
    width: 29%;
    height: 6%;
    font-family: sans-serif;
}

.name-specifications {
    position: absolute;
    right: 7%;
    top: 13%;
    color: #fff;
    font-size: 30px;
    width: 212px;
    height: 30px;
}

.specifications {
    position: absolute;
    height: auto;
    width: 170px;
    top: 22%;
    right: 10%;
}

.specification-text {
    position: initial;
    margin: 10px;
    font-size: 90%;
    color: #fff;
}

.btn-pick {
    position: absolute;
    right: 6%;
    color: white;
    background-color: #00b6ff;
    border: 1px solid #0493CC;
    top: 87%;
    width: 10%;
    text-align: center;
    opacity: 0.8;
    padding: 8px;
    min-width: 64px;
    min-height: 18px;
} 

.tw-picture-share {
    border:0px; 
    width:80px; 
    height:74px;
}

.top-left-like-btns {
    position: absolute;
    left: 5px;
    top: 5px;
}

.top-left-like-btns .fb-like {
    opacity: 0;
    margin: 3px;
}

.top-left-like-btns .folow-btn {
    opacity: 0;
    margin: 3px;
}

.error-on-mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    top: 0;
    z-index: 10;
    display: none;
}

.error-on-mobile .error-mobile-block {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: auto;
    top: 25%;
    bottom: 25%;
    letter-spacing: 3px;
}

.error-on-mobile .error-mobile-block .txt-mob {
    position: relative;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    color: gainsboro;
    margin: 30px auto 0;
}
